.checkBox{
    border-radius: 25px;
    cursor: pointer;
}
.TodoItem{
    background: #838282;
    margin-block-start: 5px;
    margin-inline: 25em;
    border-radius: 20px;
    position: relative;
}
.TodoItem:hover{
    background-color: #5DADE2
}
.Icon-check{
    padding: 5px;
}
.TodoItem-p{
    display: inline-block;
    border-radius: 15px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-break: break-word;
}
.delete{
    position: absolute;
    top: 0;
    right: 0;
}
.Icon-delete{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}
.checkBox--active{
    background-color:  green;
    border-radius: 25px;
}
.Icon-delete:hover {
    background-color: red;
    color: white;
}

.TodoItem-p--completed {
    text-decoration: line-through black;
}
@media screen and (max-width: 720px) and (max-height: 1280px){
    .TodoItem{
        background: #838282;
        margin-block-start: 5px;
        margin-inline: 2em;
        border-radius: 20px;
        position: relative;
    }
    .TodoItem:hover{
        background-color: #5DADE2
    }
    .Icon-check{
        padding: 5px;
    }
    .TodoItem-p{
        display: inline-block;
        border-radius: 15px;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        word-break: break-word;
    }
    .delete{
        position: absolute;
        top: 0;
        right: 0;
    }
    .Icon-delete{
        color: black;
        background-color: white;
        border-radius: 20px;
        padding: 5px;
        cursor: pointer;
    }
    .checkBox--active{
        background-color:  green;
        border-radius: 25px;
    }
    .Icon-delete:hover {
        background-color: red;
        color: white;
    }
    
    .TodoItem-p--completed {
        text-decoration: line-through black;
    }
}
    

