.Modal{
    position: fixed;
    z-index: 100;
    background-color: gray;
    width: 30%;
    border: 3px solid #154360;
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    left: 35%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}
.title{
    font-size: 20px;
    font-weight: bold;
    color: #154360;
    text-align: center;
}
input{
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
.buttonModal{
    margin-right: 1px;
    background-color: #154360;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 49%;
    box-sizing: border-box;
    cursor: pointer;
}
.buttonModal:hover{
    background-color: green;
}
.buttonCancel:hover{
    background-color: red;
}
.buttonCancel{
    margin-left: 1px;
    background-color: #154360;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 49%;
    box-sizing: border-box;
    cursor: pointer;
}
.empty{
    border: 3px solid red;
}
.empty::placeholder{
    font-weight: bold;
    color: red;
}
@media screen and (max-width: 500px) {
    /* Estilos para pantallas con un ancho máximo de 768px */
    .Modal{
        position: fixed;
        z-index: 100;
        background-color: gray;
        width: 50%;
        border: 3px solid #154360;
        box-shadow: 1px 1px 1px black;
        padding: 10px;
        left: 19%;
        top: 25%;
        box-sizing: border-box;
        transition: all 0.3s ease-out;
        border-radius: 10px;
    }
    .title{
        font-size: 20px;
        font-weight: bold;
        color: #154360;
        text-align: center;
    }
    input{
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }
    .buttonModal{
        margin-right: 1px;
        background-color: #154360;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 5px;
        width: 49%;
        box-sizing: border-box;
        cursor: pointer;
    }
    .buttonModal:hover{
        background-color: green;
    }
    .buttonCancel:hover{
        background-color: red;
    }
    .buttonCancel{
        background-color: #154360;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 5px;
        width: 49%;
        box-sizing: border-box;
        cursor: pointer;
    }
    .empty{
        border: 3px solid red;
    }
    .empty::placeholder{
        font-weight: bold;
        color: red;
    }

}
