.counterContainer{
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 2em;
}
.bar{
    background-color: #f5f5f5;
    height: 1em;
    margin: 0.5em;
    width: 21em;
}
.TodoCounter{
    text-align: center;
    border: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.number{
    color: aqua;
}
@media screen and (max-width: 720px) and (max-height:1280px){
    .counterContainer{
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 2em;
    }
    .bar{
        background-color: #f5f5f5;
        height: 1em;
        margin: 0.5em;
        width: 21em;
    }
    .TodoCounter{
        text-align: center;
        border: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    .number{
        color: aqua;
    }
}
@media screen and (min-width: 1366px) and (max-height: 1080px){
    .counterContainer{
        margin-left: 25em;
        margin-right: 25em;
        margin-top: 2em;
    }
    .bar{
        background-color: #f5f5f5;
        height: 1em;
        margin: 0.5em;
        width: 35em;
    }
    .TodoCounter{
        text-align: center;
        border: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    .number{
        color: aqua;
    }
}
    



  
  