.counterContainer{
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 2em;
}
.bar{
    background-color: #f5f5f5;
    height: 1em;
    margin: 0.5em;
    width: 21em;
}
.bar:hover{
    font-size: 1.2em;
    transition: 0.3s;
}
.TodoCounter{
    text-align: center;
    border: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.number{
    color: aqua;
}
@media screen and (max-width: 500px) {
    /* Estilos para pantallas con un ancho máximo de 768px */
    .counterContainer{
        margin-left: 6em;
        margin-right: 9em;
        margin-top: 2em;
    }
    .TodoCounter{
        text-align: center;
        border: 2px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
    }
    .number{
        color: aqua;
    }
    .bar{
        background-color: #f5f5f5;
        height: 1em;
        margin: 0.5em;
        width: 9em;
    }
    .bar:hover{
        font-size: 1.2em;
        transition: 0.3s;
    }
  }
  @media screen and (max-width: 1400px){
    .barContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  
  